.calculator {
    font-size: 22px;
    background: #c2c2d6;
    flex-direction: column;

    h1 {
        color: black;
    }

    #calculator {
        background: gray;
        border: 4px solid black;
        width: 300px;
        height: 350px;

        #display {
            max-width: 100%;
            width: 100%;
            background: black;
            height: 10%;
            text-align: right;
            vertical-align: middle;
            font-family: "Digital";

            font-size: 30px;
        }

        #buttonsContainer {
            display: flex;
            flex-wrap: wrap;
            height: 90%;
            position: relative;

            .button {
                // width: calc(25% - 2px);
                // height: calc (20% - 2px);
                width: 24.3%;
                height: 19.5%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: black;
                    cursor: pointer;
                    border: 1px solid white;
                }

                &#clear,
                &#zero {
                    //width: calc(50% - 2px);
                    width: 49.3%;
                }

                &#clear {
                    background: rgb(172, 57, 57);
                }

                &#equals {
                    background: rgb(0, 68, 102);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 39.4%;
                }
            }
        }
    }
}
