body {
    text-align: center;
    background-color: rgb(189, 187, 153);
    color: rgb(189, 187, 153);
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #wrapper {
        width: 450px;
        position: relative;
        padding: 30px 40px;
        display: table;
        background: white;
        border-radius: 5px;
        vertical-align: baseline;
        display: flex;
        align-items: center;

        #quote-box {
            font-size: 23px;
        }

        #quote-author {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 10px;
            #author {
                font-size: 16px;
            }
        }

        button {
            float: right;
            color: white;
            background: rgb(189, 187, 153);
            border: none;
            padding: 8px 18px;
            border-radius: 5px;
            font-weight: 500;
            font-size: 15px;
        }
    }
}
