.random-quote-machine {
    flex-direction: column;
    background-color: rgb(189, 187, 153);
    color: rgb(189, 187, 153);

    h1 {
        color: white;
    }

    #wrapper {
        width: 450px;
        position: relative;
        padding: 30px 40px;
        display: table;
        background: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        color: rgb(189, 187, 153);

        #quote-box {
            font-size: 23px;

            #text {
                text-align: left;
            }

            #quote-author {
                text-align: right;
                margin-top: 10px;
                margin-bottom: 10px;
                #author {
                    font-size: 16px;
                }
            }

            button {
                float: right;
                color: white;
                background: rgb(189, 187, 153);
                border: none;
                padding: 8px 18px;
                border-radius: 5px;
                font-size: 15px;
            }
        }
    }
}
