.drum-machine {
    flex-direction: column;
    background-color: #8d8d8d;

    h1 {
        color: black;
    }

    #drum-machine {
        padding: 40px 25px;
        outline: 5px solid orange;
        position: relative;
        background-color: #b3b3b3;
        display: flex;
        align-items: center;
        flex-direction: column;

        #display {
            width: 250px;
            border: 2px orange solid;
            padding: 10 20px;
            min-height: 20px;
            background-color: grey;
            color: black;
        }

        #drum-pad-container {
            width: 332px;
            height: 272px;
            display: inline-block;
            margin: 10px;

            .drum-pad {
                background-color: grey;
                margin-top: 10px;
                box-shadow: black 3px 3px 5px;
                float: left;
                width: 100px;
                height: 80px;
                margin-right: 10px;
                border-radius: 5px;
                padding-top: 35px;
                box-sizing: border-box;
                cursor: pointer;
            }
        }
    }
}
